.books {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.books__title {
	position: relative;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
	a {
		transition: 0.5s;
		color: #818eea;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 120%;
	}
}

.booksUiContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
}
