#footer {
	min-height: 349px;
	background: #818eea;
	padding: 30px;

	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0 0 0;
		flex-wrap: wrap;
		gap: 30px 20px;
		justify-content: center;
		
		.title {
			h1 {
				color: white;
				font-size: 36px;
				font-style: normal;
				font-weight: 600;
				line-height: 44px; /* 122.222% */
				letter-spacing: -1.5px;
			}

			p {
				color: #fff;
				margin: 30px 0;
				font-size: 14px;
				font-weight: 400;
				letter-spacing: -0.3px;
			}

			.footer--emailSendler {
				position: relative;
				border: 1px solid #fff;
				border-radius: 8px;

				#footer--emailSendler__input {
					padding: 0 0 0 5px;
					background: none;
					width: 80%;
					height: 40px;
					outline: none;
					position: relative;
					border: none;

					color: white;
					font-feature-settings:
						'clig' off,
						'liga' off;
					font-size: 14px;
					font-weight: 400;
					letter-spacing: -0.3px;
				}

				#footer--emailSendler__input::placeholder {
					color: white;
				}

				#footer--emailSendler__input.invalid {
					border-color: red;
				}

				span.error-mark {
					color: red;
					margin-left: 5px;
					font-size: 18px;
				}

				span {
					position: absolute;
					left: 80px;
					top: 50px;
				}

				button {
					position: absolute;
					right: 10px;
					background: none;
					width: 80px;
					height: 43px;
					border-radius: 8px;
					border: none;
					color: white;
					font-feature-settings:
						'clig' off,
						'liga' off;
					font-size: 14px;
					font-weight: 700;
					letter-spacing: -0.3px;
				}
			}
		}
		.footer--links {
			display: flex;
			gap: 20px;
			flex-wrap: wrap;
		}
		.footer--info {
			h3 {
				color: #fff;

				font-size: clamp(15px, 3wv, 20px);
				font-weight: 600;
				line-height: 22px; /* 137.5% */
				letter-spacing: -0.4px;
			}

			p {
				color: #fff;

				font-size: 16px;
				font-weight: 500;
				line-height: 26px; /* 162.5% */
				letter-spacing: -0.2px;
			}
		}
	}
}
